<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="3.0.0" targetFramework="net452" />
  <package id="CommonServiceLocator" version="1.0" targetFramework="net452" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net452" />
  <package id="jQuery" version="1.10.2" targetFramework="net452" />
  <package id="Microsoft.AspNet.Mvc" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.Razor" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNet.WebPages" version="3.2.3" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Razor" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Razor.Design" version="1.1.0-preview4-final" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Razor.Runtime" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.AspNetCore.Razor.Tools" version="1.1.0-preview4-final" targetFramework="net452" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="1.0.3" targetFramework="net452" />
  <package id="Microsoft.DotNet.Cli.Utils" version="1.0.0-preview2-003121" targetFramework="net452" />
  <package id="Microsoft.DotNet.InternalAbstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.DotNet.ProjectModel" version="1.0.0-rc3-003121" targetFramework="net452" />
  <package id="Microsoft.Extensions.CommandLineUtils" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.DependencyModel" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Extensions.PlatformAbstractions" version="1.0.0" targetFramework="net452" />
  <package id="Microsoft.Net.Compilers" version="1.3.2" targetFramework="net452" developmentDependency="true" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net452" />
  <package id="Modernizr" version="2.6.2" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="NuGet.Common" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Configuration" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.DependencyResolver.Core" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Frameworks" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.LibraryModel" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Packaging" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Packaging.Core" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Packaging.Core.Types" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.ProjectModel" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.Types" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Protocol.Core.v3" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Repositories" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.RuntimeModel" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="NuGet.Versioning" version="3.5.0-beta2-1484" targetFramework="net452" />
  <package id="System.Collections" version="4.0.11" targetFramework="net452" />
  <package id="System.Collections.Concurrent" version="4.0.12" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.2.0" targetFramework="net452" />
  <package id="System.ComponentModel" version="4.0.1" targetFramework="net452" />
  <package id="System.Diagnostics.Debug" version="4.0.11" targetFramework="net452" />
  <package id="System.Globalization" version="4.0.11" targetFramework="net452" />
  <package id="System.Linq" version="4.1.0" targetFramework="net452" />
  <package id="System.Linq.Expressions" version="4.1.0" targetFramework="net452" />
  <package id="System.Reflection" version="4.1.0" targetFramework="net452" />
  <package id="System.Reflection.Metadata" version="1.3.0" targetFramework="net452" />
  <package id="System.Resources.ResourceManager" version="4.0.1" targetFramework="net452" />
  <package id="System.Runtime.Extensions" version="4.1.0" targetFramework="net452" />
  <package id="System.Text.Encodings.Web" version="4.0.0" targetFramework="net452" />
  <package id="System.Threading" version="4.0.11" targetFramework="net452" />
  <package id="System.Threading.Tasks" version="4.0.11" targetFramework="net452" />
  <package id="Unity" version="2.1.505.0" targetFramework="net452" />
  <package id="Unity.Mvc3" version="1.2" targetFramework="net452" />
</packages>